In [1]:
print("hello world")

hello world

# Variables

In [1]:
a= 5
print(a, type(a), id(a))

5 <class 'int'> 140722374763432

In [2]:
a = b = c = 10
print(a,b,c, type(a), type(b), type(c), id(a), id(b), id(c))

10 10 10 <class 'int'> <class 'int'> <class 'int'> 140722374763592 140722374763592 140722374763592

In [6]:
a = 10
print(a, type(a), id(a))
a = 10.0
print(a, type(a), id(a))

10 <class 'int'> 140722374763592
10.0 <class 'float'> 2580461380976

In [7]:
a=123
b=134
c=a+b
print(c)

257

In [16]:
s = 'saravana suryia .k'
print(s[::-1])

k. aiyrus anavaras

In [19]:
s = 'karthic. k'
print(s[::-2])

k.ita

In [20]:
a = 5.0
if type(a) is int:
    print(' a is an integer')
    if a==1:
        print("A is 1")
    elif a==2:
        print("a is 2")
    elif a==3:
        print("a is 3")
    elif a==4:
        print("a is 4")
    elif a==5:
        print("a is 5")
    elif a==6:
        print("a is 6")
    elif a==7:
        print("a is 7")
    else:
        print('End')
else:
    print('finish')

finish

In [21]:
def weekday(n):
   match n:
      case 0: return "sunday"
      case 1: return "monday"
      case 2: return "Tuesday"
      case 3: return "wednesday"
      case 4: return "Thusday"
      case 5: return "friday"
      case 6: return "saturday"
      case _: return "Invalid day number"
print (weekday(3))
print (weekday(6))
print (weekday(7))

wednesday
saturday
Invalid day number

In [26]:
a = 97
if a==91:
    print("A is 91")
elif a==92:
    print("a is 92")
elif a==93:
    print("a is 93")
elif a==94:
    print("a is 94")
elif a==95:
    print("a is 95")
elif a==96:
    print("a is 96")
elif a==97:
    print("a is 97")
else:
    print('End')

a is 97

In [3]:
a = [1,2,3,4,5,6,6,4,5,3,434]
for i in a:
    print(i)

1
2
3
4
5
6
6
4
5
3
434