In [ ]:
print("hello world")

# Variables

In [2]:
a= 5
print(a, type(a), id(a))

5 <class 'int'> 140728019510184

In [1]:
a=2
b=4
c=a*b
print(c)

8

In [3]:
a=25
if(a%2==0):
    print("even")
else:
    print("odd")

odd

In [4]:
a=25
b=a/3
print(b)

8.333333333333334

In [5]:
a="gugan"[::-1]
print(a)

nagug

In [6]:
#control flow statement
a=input('a value')
b=input('b value')
if b>a:
    print("b is greater than a") 
elif b==a: 
    print("b is equal to ")
else: 
    print("a is greater than b")

b is greater than a

In [7]:
#function
def addision(a=1,b=0):
    return a+b
print(addision(3,4))
print(addision())

7
1

In [8]:
#function
def sub(a, b = 0):
    return a-b

print(sub(a = 3,b=4))

-1

In [ ]:
import math
from turtle import *
def hearta(k): 
    return 15*math.sin(k)**3
def heartb(k):
    return 12*math.cos(k)-5*\
           math.cos(2*k)-2*\
           math.cos(3*k)-\
           math.cos(4*k)
speed(0)
bgcolor("black")
for i in range(6000):
   goto(hearta(i)*20,heartb(i)*20)
   for j in range(5): 
    color("#173487")
   goto(0,0)
done()

In [10]:
#function
def avg(marks):
    assert len(marks) != 0
    return sum(marks)/len(marks)

mark2 = [55,88,78,90,79]
print("Average of mark2:",avg(mark2))

Average of mark2: 78.0

In [11]:
#contol flow staement
a=input('a value')
if int(a)>=50:
    print("pass") 
elif int(a)<50: 
    print("fail")
else: 
    print("none")

pass

In [12]:
#list
a = [1, 2, 34.45, 5j, 'ram']
print(a, type(a), id(d))

NameError: name 'd' is not defined

In [13]:
#tuple
a = (1, 2, 34.45, 5j, 'ram')
print(a, type(a))

(1, 2, 34.45, 5j, 'ram') <class 'tuple'>

In [14]:
#dictionary
a = {1:'one', 2:'two', 3:'three'}
print(a, type(a) )

{1: 'one', 2: 'two', 3: 'three'} <class 'dict'>

In [15]:
#break,pass,continue
for i in range(5):
    print(i)
    if (i==2):
        break
    print(i,i)

0
0 0
1
1 1
2

In [16]:
for i in range(5):
    print(i)
    if (i==2):
        continue
    print(i, i)

0
0 0
1
1 1
2
3
3 3
4
4 4

In [17]:
for i in range(5):
    print(i)
    if (i==2):
        pass
    print(i, i)

0
0 0
1
1 1
2
2 2
3
3 3
4
4 4

In [18]:
#arthimic operator
#addtion
a=5
b=6
c=a+b
print(c)

11

In [19]:
#sub operator
a=5
b=6
c=a-b
print(c)

-1

In [20]:
#multi operator
a=5
b=6
c=a*b
print(c)

30

In [21]:
#div operator
a=5
b=6
c=a/b
print(c)

0.8333333333333334

In [22]:
#power 
a=5
b=3
c=a**b
print(c)

125

In [23]:
#module
a=5
b=3
c=a%b
print(c)

2

In [24]:
#logical operators
a=5
print(a>3 and a<3)

False

In [25]:
#logical operators
a=5
print(a>3 or a<3)

True

In [26]:
#identity operators
a=["mango","pineapple"]
b=["mango","pineapple"]
c=a
print(a is b)
print(c)
print(a is c)

False
['mango', 'pineapple']
True

In [27]:
#membership operators
a=("apple","mango")
print("banana" in a)

False

In [28]:
#assignment operator
#equal to
x=5
print("x:",x)

x: 5

In [29]:
x=5
x +=5
print("x:",x)

x: 10

In [30]:
#comparsion operators
#equal toequal to
a=5
b=6
print(a==b)

False

In [31]:
#not equal to
a=5
b=6
print(a!=b)

True

In [32]:
#greater than equal to
a=5
b=6
print(a!=b)

True

In [33]:
#greater than equal to
a=5
b=6
print(a!=b)

True

In [34]:
def divide(x,y):
    try:
        result= x // y
        print("Yeah ! Your answer is :", result)
    except ZeroDivisionError:
            print("Sorry ! You are dividing by zero ")
divide(6,3)

Yeah ! Your answer is : 2

In [35]:
#bitwise operator
a=5
b=2
c=(a&b)
print(c)

0

In [36]:
#bitwise operator
a=7
b=5
c=(a|b)
print(c)

7

In [37]:
import math

In [38]:
a=int(input("a value"))
b=math.sqrt(a)
print(b)

35.12833614050059

In [39]:
question1 = {
    "question": "What is the capital of France?",
    "choices": ["A. Paris", "B. London", "C. Berlin"],
    "answer": "A"
}

# Print the question and answer choices
print(question1["question"])
for choice in question1["choices"]:
    print(choice)

# Ask the user to select an answer
user_answer = input("Enter your answer (A, B, or C): ")

# Check if the answer is correct
if user_answer == question1["answer"]:
    print("Correct.")
else:
    print("Sorry, that's incorrect.")

What is the capital of France?
A. Paris
B. London
C. Berlin
Sorry, that's incorrect.

In [40]:
#swapping operations
x=144
y=455
temp=x
x=y
y=temp
print("the value of x:",y)
print("the value of y:",x)

the value of x: 144
the value of y: 455

In [41]:
#function with argument
def my_function(fname):
  print(fname + " mech")
my_function("rohit")
my_function("arbaaz")
my_function("akash")

rohit mech
arbaaz mech
akash mech

In [42]:
#function
def addision(a,b):
    return a+b
addision(3,4)

7

In [43]:
#Keyword Arguments
def my_function(player3, player2, player1):
  print("The best captain is " + player2)
my_function(player1 = "virat", player2 = "dhoni", player3 = "raina")

The best captain is dhoni

In [44]:
#Arbitrary Arguments *args
def my_function(*player):
  print("The mr.ipl is " + player[2])
my_function("virat", "dhoni", "raina")

The mr.ipl is raina

In [45]:
x = lambda a, b : a * b
print(x(25, 10))

250

In [46]:
#The __init__() Function, constructor

class Human():
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def __str__(self):
        return self.name

In [47]:
h1 = Human(name='saravana', age=20, sex='Male') # object initialisation
print(h1, type(h1))
print(h1.name, type(h1.name))
print(h1.age, type(h1.age))
print(h1.sex, type(h1.sex))

saravana <class '__main__.Human'>
saravana <class 'str'>
20 <class 'int'>
Male <class 'str'>

In [48]:
class Human:
    def __init__(self, name='saravana', age=20, sex='Male'):
        self.__name = name  # Private attribute
        self.__age = age    # Private attribute
        self.__sex = sex    # Private attribute

    # Getter methods
    def get_name(self):
        return self.__name

    def get_age(self):
        return self.__age

    def get_sex(self):
        return self.__sex

    def greet(self):
        print(f"Hello, I am {self.__name}, and I am {self.__age} years old. Welcome to my home.")

class Student(Human):
    def __init__(self, name, age, sex, department, college):
        super().__init__(name, age, sex)
        self.__department = department  # Private attribute
        self.__college = college        # Private attribute

    # Getter methods specific to Student
    def get_department(self):
        return self.__department

    def get_college(self):
        return self.__college

    def intro(self):
        print(f"I am {self.get_name()}, studying in {self.__college}, in the {self.__department} department.")
    
    def get_student_info(self):
        return f"Name: {self.get_name()}\nAge: {self.get_age()}\nSex: {self.get_sex()}\nDepartment: {self.__department}\nCollege: {self.__college}"

In [52]:
s1 = Student(name="saravana", age=20, sex="male", department="Mechanical engineering", college="PSV University")

In [53]:
print("Name:", s1.get_name())
print("Age:", s1.get_age())
print("Sex:", s1.get_sex())
print("Department:", s1.get_department())
print("College:", s1.get_college())

Name: saravana
Age: 20
Sex: male
Department: Mechanical engineering
College: PSV University

In [51]:
class College():
    name="saravana"
    dept="mech"
    year="final"
    native="tirupattur"
    language="tamil"

In [54]:
h1=College()
print(h1.name)
print(h1.year)
print(h1.dept)
print(h1.native)
print(h1.language)

saravana
final
mech
tirupattur
tamil

In [55]:
College

__main__.College

In [58]:

class Student():
    def __init__(self, name, age, sex, department, college):
        self.name=name
        self.age=age
        self.sex=sex
        self.department = department
        self.college = college

In [60]:
a=Student("saravana",20,"male","mechanical","psvcet")

In [61]:
a.name

'saravana'

In [62]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [63]:
#multiline string
print("""my name is a arbaaz husaain,
he is a mechanical student""")

my name is a arbaaz husaain,
he is a mechanical student

In [64]:
import sys
print("python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

python version
3.11.5 (tags/v3.11.5:cce6ba9, Aug 24 2023, 14:38:34) [MSC v.1936 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=11, micro=5, releaselevel='final', serial=0)

In [65]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

The area of the circle with radius 5467.0 is: 93896200.8322379

In [66]:
a="hello python"
print(a[-5])

y

In [69]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0],color_list[3])

Red Black

In [68]:
exam_st_date = (11, 12, 2014)
print(exam_st_date[0],"/",exam_st_date[1],"/",exam_st_date[2])

11 / 12 / 2014

In [70]:
class Student:
    def speak(self):
        pass

class Arbaaz(Student):
    def speak(self):
        return "hindi!"

class Rohit(Student):
    def speak(self):
        return "tamil!"

In [71]:
def student_language(Student):
    return Student.speak()

In [73]:
st1= Arbaaz()
st2= Rohit()

In [74]:
print(student_language(st1))
print(student_language(st2))

hindi!
tamil!

In [77]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [1]:
def test_distinct(data):
  if len(data) == len(set(data)):
    return True
  else:
    return False;
print(test_distinct([1,5,7,9]))
print(test_distinct([2,4,5,5,7,9]))

True
False

In [2]:

def three_sum(nums):
  result = []
  nums.sort()
  for i in range(len(nums)-2):
    if i> 0 and nums[i] == nums[i-1]:
      continue
    l, r = i+1, len(nums)-1
    while l < r:
      s = nums[i] + nums[l] + nums[r]
      if s > 0:
        r -= 1
      elif s < 0:
          l += 1
      else:
        # found three sum
        result.append((nums[i], nums[l], nums[r]))
        # remove duplicates
        while l < r and nums[l] == nums[l+1]:
          l+=1
          while l < r and nums[r] == nums[r-1]:
            r -= 1
            l += 1
            r -= 1
          return result

x = [1, -6, 4, 2, -1, 2, 0, -2, 0 ]
print(three_sum(x))

[(-6, 2, 4)]